.rectangle1{
position: absolute;
width: 522.12px;
height: 408.59px;
left: -285.69px;
top: 48px;
background: #5678A2;
/*filter: blur(1px);*/
border-radius: 64px;
transform: rotate(-33.47deg);
}

/*.rectangle2{
position: absolute;
width: 734.8px;
height: 478.66px;
right: -430px;
top: 335.9px;

background: #5678A2;
// filter: blur(1px);
border-radius: 64px;
transform: rotate(-42.23deg);
} */

.circle{
position: absolute;
width: 683px;
height: 683px;
left: calc(50% - 683px/2 - 0.5px);
top: 59px;
border-radius: 50%;
background: linear-gradient(180deg, rgba(255, 137, 137, 0.19) 0%, rgba(235, 178, 178, 0.04) 20.19%, rgba(217, 217, 217, 0) 39.17%);
}

.name_rectangle{
position: absolute;
width: 192px;
height: 48px;
left: calc(50% - 192px/2 - 184px);
top: 81px;
background: #4370A9;
box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}

.id_rectangle{
position: absolute;
width: 192px;
height: 48px;
left: calc(50% - 192px/2 - 184px);
top: 141px;
background: #4370A9;
box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}

.contains_name{
box-sizing: border-box;
position: absolute;
width: 365px;
height: 48px;
left: calc(50% - 365px/2 + 96px);
top: 81px;
background: #EFEFEF;
border: 1px solid #EFEFEF;
box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}

.contains_id{
box-sizing: border-box;
position: absolute;
width: 365px;
height: 48px;
left: calc(50% - 365px/2 + 96px);
top: 141px;
background: #EFEFEF;
border: 1px solid #8F8F8F;
box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}

#userButton {
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  width: 56px;
  height: 56px;
  right: 24px;
  top: 16px;
  cursor: pointer;
}

#userButton img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  right: 32px;
}

.menu-button {
  position: relative;
}

.menu-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.menu-options a {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
}

.menu-options a:hover {
  text-decoration: underline;
}
