.rectangle1{
position: absolute;
width: 522.12px;
height: 408.59px;
left: -285.69px;
top: 48px;

background: #5678A2;
/*filter: blur(1px);*/
border-radius: 64px;
transform: rotate(-33.47deg);
}

.rectangle2{
position: absolute;
width: 734.8px;
height: 478.66px;
right: -430px;
top: 335.9px;

background: #5678A2;
/*filter: blur(1px);*/
border-radius: 64px;
transform: rotate(-42.23deg);
}

.circle{
position: absolute;
width: 683px;
height: 683px;
left: calc(50% - 683px/2 - 0.5px);
/*left: 600px;*/
top: 59px;
border-radius: 50%;
background: linear-gradient(180deg, rgba(255, 137, 137, 0.19) 0%, rgba(235, 178, 178, 0.04) 20.19%, rgba(217, 217, 217, 0) 39.17%);
}

.mainrectangle{
position: absolute;
width: 471px;
height: 548px;
left: calc(50% - 471px/2 - 0.5px);
/*left: 707px;*/
top: 238px;

background: #000000;
opacity: 0.4;
/*border: 2px solid #5779A2;*/
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(8px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 85px;
}

.Logo{
position: absolute;
width: 149px;
height: 149px;
left: calc(50% - 148px/2 - 0.5px);
/*left: 868px;*/
top: 280px;
}

input[type="text"], input[type="password"] {
  box-sizing: border-box;

position: absolute;
width: 374px;
height: 48px;
left: calc(50% - 370px/2);
/*left: 758px;*/
top: 560px;

background: #FFFFFF;
border: 1px solid #7A7A7A;
box-shadow: 2px 4px 50px rgba(0, 0, 0, 0.25);
border-radius: 17px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}

input[type="text"], input[type="username"] {
  box-sizing: border-box;


position: absolute;
width: 374px;
height: 48px;
left: calc(50% - 370px/2);
/*left: 758px;*/
top: 480px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;

color: #808080;

}

input[type="submit"] {
position: absolute;
width: 250px;
height: 48px;
left: calc(50% - 238px/2);
/*left: 825px;*/
top: 670px;

background: #3575C2;
border-radius: 17px;




font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #EFEFEF;

border: 0.2px solid #3575C2;

}
}
