.container {
  width: 500px;
  height: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #808080;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"], input[type="password"] {
  box-sizing: border-box;

position: absolute;
width: 374px;
height: 48px;
left: 1010px;
top: 480px;

background: #FFFFFF;
border: 1px solid #7A7A7A;
box-shadow: 2px 4px 50px rgba(0, 0, 0, 0.25);
border-radius: 17px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;

color: #808080;
}

/* Username */

input[type="text"], input[type="username"] {
  box-sizing: border-box;


position: absolute;
width: 374px;
height: 48px;
left: 1010px;
top: 400px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;

color: #808080;

}

input[type="submit"] {
position: absolute;
width: 250px;
height: 48px;
left: 1075px;
top: 600px;

background: #008080;
box-shadow: inset 8px 8px 14px rgba(182, 182, 182, 0.5);
border-radius: 17px;




font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;

border: 0.2px solid #000000;

}

.fixed-header{
        width: 100%;
        position: fixed;        
        background: #FFFFFF;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
    
    .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
    }

.circle{
position: absolute;
width: 1842px;
height: 1842px;
left: -958px;
top: -412px;
border-radius: 50%;

background: linear-gradient(215.18deg, #3EC5E2 10.7%, #DCDEBA 50.5%);
box-shadow: inset -4px -4px 43px 10px rgba(0, 0, 0, 0.25);
}

.circle2{
position: absolute;
width: 552px;
height: 552px;
left: 1221px;
top: 467px;
border-radius: 50%;
background: linear-gradient(215.18deg, #3EC5E2 10.7%, #DCDEBA 57.44%);
box-shadow: inset 4px 4px 43px 10px rgba(0, 0, 0, 0.25);
}

.rectangle2{
position: absolute;
width: 471px;
height: 548px;
left: 964px;
top: 140px;

background: #C6C6C6;
opacity: 0.4;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
border-radius: 85px;
}

.nimbus-logo {
position: absolute;
width: 475.08px;
height: 329.58px;
left: 24px;
top: 189px;

}

.Logo{
position: absolute;
width: 141.34px;
height: 140px;
left: 1130px;
top: 200px;

}
.page-text {
position: absolute;
width: 360px;
height: 303px;
left: 116px;
top: 364px;

font-family: 'Poppins';
font-style: normal;
font-weight: 560;
font-size: 100px;
line-height: 79%;
/* or 101px */

letter-spacing: 0.01em;

color: #385B5B;

/*border: 1px solid #C2C2C2;*/
}

.page-text1 {
position: absolute;
width: 480px;
height: 303px;
left: 1050px;
top: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 560;
font-size: 120px;
line-height: 78%;
/* or 101px */

letter-spacing: 0.0001em;

color: #385B5B;

/*border: 1px solid #C2C2C2;*/
}

/*.circle */{
position: absolute;
width: 412px;
height: 412px;
left: 1093px;
top: 677px;
border-radius: 50%;

background: linear-gradient(215.18deg, #3EC5E2 10.7%, #DCDEBA 57.44%);
box-shadow: inset 4px 4px 43px 10px rgba(0, 0, 0, 0.25);
}
