.container {
  width: 500px;
  height: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #808080;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"], input[type="password"] {
  box-sizing: border-box;

position: absolute;
width: 374px;
height: 48px;
left: 1010px;
top: 480px;

background: #FFFFFF;
border: 1px solid #7A7A7A;
box-shadow: 2px 4px 50px rgba(0, 0, 0, 0.25);
border-radius: 17px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;

color: #808080;
}

/* Username */

input[type="text"], input[type="username"] {
  box-sizing: border-box;


position: absolute;
width: 374px;
height: 48px;
left: 1010px;
top: 400px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;

color: #808080;

}

input[type="submit"] {
position: absolute;
width: 250px;
height: 48px;
left: 1075px;
top: 600px;

background: #008080;
box-shadow: inset 8px 8px 14px rgba(182, 182, 182, 0.5);
border-radius: 17px;




font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;

border: 0.2px solid #000000;

}

.circle{
position: absolute;
width: 1842px;
height: 1842px;
left: -1058px;
top: -412px;
border-radius: 50%;

background: linear-gradient(215.18deg, #3EC5E2 10.7%, #DCDEBA 50.5%);
box-shadow: inset -4px -4px 43px 10px rgba(0, 0, 0, 0.25);
}
/* This was a second circle that miserably failed..."*/
/*.circle{
position: absolute;
width: 412px;
height: 412px;
left: 1093px;
top: 677px;

background: linear-gradient(215.18deg, #3EC5E2 10.7%, #DCDEBA 57.44%);
box-shadow: inset 4px 4px 43px 10px rgba(0, 0, 0, 0.25);
}*/
